body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #efefef;
}

header {
  height: 50px;
  background-color: white;
  border-bottom: solid 1px;
  color: #f3735f;
}
header img {
  width: 150px;
  margin-top: 15px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

section {
  background-color: white;
  padding: 60px 30px 60px 30px;
  border-radius: 20px;
  margin-top: 40px;
}

p {
  line-height: 22px;
  margin-bottom: 20px;
}

.baseline {
  font-style: italic;
  text-align: center;
  font-size: 13.4px;
  margin-top: 5px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 22px;
}

.time {
  text-align: center;
  margin-top: 40px;
}

span {
  color: white;
  background-color: #797b95;
  text-transform: uppercase;
  padding: 11px 50px 7px 50px;
  border-radius: 8px;
}
.image {
  display: flex;
  justify-content: space-around;
}

.image img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  margin-top: 50px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 15px;
  line-height: 25px;
  color: rgb(113, 113, 113);
}

footer {
  font-size: 10px;
  text-align: center;
  margin-top: 50px;
  color: rgb(113, 113, 113);
}
